
<div class="hbox chapter__nav nav">
    <a
      class="previous" 
      href={{ "chapters" | relative_url }}>index</a>
  {% if page.previous %}
    {% assign hash = page.previous.title | slugify %}
    <a
    class="previous" 
    href="{{ page.previous.url | append: '#' | append: hash }}">Last</a>
  {% endif %}
  {% if page.next %}
    {% assign hash = page.next.title | slugify %}
    <a 
    class="next" 
    href="{{ page.next.url | append: '#' | append: hash }}">Next</a>
  {% endif %}
</div>