---
layout: root
---

{% include chapter_header.html %}

<div data-page="{{ page.chapter }}" class="reader" id="reader">
  <div class="chapter__content">
    {{ content }}
  </div>
  <div class="div">
    {% include chapter_nav.html %}
  </div>  
</div>

<script>
    window.addEventListener('load', (event) => {
      new AnchorParagraph('#reader');
    });

    class AnchorParagraph {
      constructor (selector) {
        this.pNodes = document.querySelectorAll(`${selector} p`)
        this.start();
        this.scrollToAnchor();
      }

      start() {
        this.pNodes.forEach(function(p, inx){
          if(p.innerHTML.match('...')) {
            var a = document.createElement('a')
            a.setAttribute('href', `#p${inx+1}`)
            a.setAttribute('class', `anchor`)
            p.setAttribute('id', `p${inx+1}`)
            a.innerHTML = String(inx+1)
            p.appendChild(a)
          } else {
            p.setAttribute('class', 'scene-change')
          };
        });
      }

      scrollToAnchor() {
        var hash = window.location.hash;
        console.log(hash)
        if(hash != '') {
          document.querySelector(hash).scrollIntoView()
        };
      }
    }
</script>