---
---
<html lang="en">
<head>
  {% include head.html %}
</head>
<body>

  {% include alerts.html %}
 
  {{content}}
   
	<div id="reader">
	</div>
	
	<script src="{{ '/assets/js/vendor/epub.min.js' | relative_url }}"></script> 

	<script>
		var book = ePub("{{ page.file | relative_url }}");
		var rendition = book.renderTo("reader", {width: 600, height: 400});
		var displayed = rendition.display();
	</script>
  <!-- <script src="{{ '/assets/js/bookReader.js' | relative_url }}"></script> -->
  <!-- <script src="{{ '/assets/js/scrollNav.js' | relative_url }}"></script> -->
  <!-- vvv keep as last script to run vvv -->
  <!-- <script src="{{ '/assets/js/CopyBtn.js' | relative_url }}"></script> -->
</body>
</html>
